/*** align-items ***/
body {
  font-family: arial;
}
.container{
  display: grid;
  gap:5px;
  height: 100vh;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
}
.item{
  background: lightblue;
  padding: 10px;
  border: 1px solid red;
}

.item:nth-of-type(5){
  align-self: start;
  justify-self: start;
}