/*** areas ***/
body {
  font-family: arial;
}
.container{
  display: grid;
  grid-template: 100px 1fr 150px / 200px 1fr;
  gap: 10px;
  height: 100vh;
  grid-template-areas: "header header"
             "left contenido"
             "footer footer";
}
.item{
  background: lightblue;
  padding: 10px;
  border: 1px solid red;
}
.item:nth-of-type(4){
  background: blue;
  overflow: auto;
  display: grid;
  grid-template: 50px 50px 50px / 200px 200px 200px;
}
.item .item{
  background: yellow;
  overflow: hidden;
}
.header{
  grid-area: header;
}
.left{
  grid-area: left;
}
.contenido{
  grid-area: contenido;
}
.footer{
  grid-area: footer;
}
